.header {
    display: flex;
    align-items: center; 
    background-color: #ffffff;
    padding: 0 24px;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header .ant-typography {
    font-weight: bold;
    color: #4a4a4a;
    margin-right: 16px; 
}

.search {
    color: #8BA3CB;
    background-color: #F5F7FA;
    width: 300px;
    margin-right: 150px; 
    margin-left: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
    padding: 4px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search ::placeholder {
    color: #A5B0C1; 
    opacity: 1; 
}


.logoutbutton-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ff4d4f;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logoutbutton-wrapper:hover {
    background-color: #ff7875;
}
